body{
    background: #050B1F;
    color: #ffff;
}

.card_bg{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.card_body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(97, 40, 158);
    max-width: max-content;
    max-height: fit-content;
    border-radius: 20px;
    margin-top: 80px;
    padding: 32px;
}


.card_body_light{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    max-width: max-content;
    max-height: fit-content;
    border-radius: 20px;
    margin-top: 80px;
    padding: 32px;
    color: #ffff;

}


h1{
    text-align: center;
    font-weight: 200;
    font-size: 40px;
    padding: 20px;
    color: #F8FAFC;
}

h3{
    color: #CBD5E1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

.skills_badge img{
    width: 40px;
    height: auto;
    padding: 20px;
    
    
}
.skills_badge :hover{
    scale: 1.2;
}

.buttons button{
    background: #6366F1;
    color: #ffff;
    padding: 8px;
    font-size: 20px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    margin: 10px;


}

.buttons{
    margin-bottom: 20px;
    display: flex;
    align-content: space-between;
    
}

.profile{
    margin-top: 30px;
    border-radius: 80%;
    max-width: 200px;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

